mat-card {
    width: 500px;
    height: 400px;
}
mat-grid-list {
    margin-left: 2%;
}

img {
    height: 180px;
    margin-top: -10%;
    margin-left: -10%;
}

button {
    border-radius: 10px;
}

.description {
    margin-top: -10%;
}

.numero {
    margin-top: 80%;
    margin-left: -60%;
}

.audioPlay:hover {
    cursor:pointer;
}